<div ng-controller="BeneficialOwnerController as ctrl">

	<div class="formcontainer" ng-if="ctrl.error">
		<a class="alert alert-danger">There was an error processing your request</a>
	</div>

	<div class="formcontainer">

		<h4>Current beneficial owners</h4>

		<span ng-show="!ctrl.beneficialOwners || ctrl.beneficialOwners.length == 0" ng-bind="'None'"></span>

		<ul>
			<li ng-repeat="beneficialOwner in ctrl.beneficialOwners | orderBy: '[firstName, lastName]'">
				<span ng-bind="beneficialOwner.firstName + ' ' + beneficialOwner.lastName"></span>
				<a class="btn btn-danger btn-xs" ng-click="ctrl.deleteBeneficialOwner(beneficialOwner)" title="Delete beneficial owner">
					<i class="fa fa-times"></i>
				</a>
			</li>
		</ul>

	</div>

	<div class="formcontainer">

		<h4>Search for more</h4>

		<form id="beneficialOwnerForm" name="beneficialOwnerForm" ng-submit="ctrl.searchPeople()">

			<div class="form-group">

				<input name="name" type="text" class="input-sm" placeholder="First or last name..." required="required" ng-model="ctrl.person.name" />

				<button type="submit" class="btn btn-default btn-sm" ng-disabled="!ctrl.person.name">
					<i class="fa fa-search"></i>
					Search
				</button>
			</div>

			<div class="form-group">

				<span ng-show="ctrl.firstSearch && ctrl.people.length == 0" ng-bind="'No results'"></span>

				<ul>
					<li ng-repeat="person in ctrl.people | orderBy: '[firstName, lastName]'">
						<span ng-bind="person.firstName + ' ' + person.lastName"></span>
						<a class="btn btn-success btn-xs" ng-click="ctrl.addBeneficialOwner(person)" ng-if="! ctrl.isAlreadyBeneficialOwner(person)" title="Add as new beneficial owner">
							<i class="fa fa-plus"></i>
						</a>
					</li>
				</ul>
			</div>
		</form>

	</div>

</div>