body {
	height: 90%;
	background-color: rgb(245, 245, 245);
}

body, .form-control {
	font-size: 12px !important;
}

.formcontainer {
	padding: 20px;
}

.table-container {
	padding: 20px;
}

.main-container {
	width: 70%;
	margin-top: 20px;
	margin-right: 10%;
	margin-left: 10%;
	padding: 20px;
	background-color: #EAE7E7;
	border: 1px solid #ddd;
	border-radius: 4px;
	box-shadow: 0 0 30px black;
}

.custom-width {
	width: 80px !important;
}

.bg-red {
	color: #fff !important;
	background-color: #dd4b39 !important;
}